# Terraform local directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files - may contain secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
tfplan

# Crash logs
crash.log
crash.*.log

# General logs
*.log